{% load static %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <meta name="description" content="Play your playlists and favourite tracks, albums, and artists" />
    <meta name="keywords" content="spotify, lushlyrics, signup, music" />
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Sign Up | Lushlyrics</title>

    <script>
        function checkPassword(form) {
            const confirm_password = document.getElementById("id_password2");
            const password = document.getElementById("id_password1").value;
            if (password !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords do not match");
            } else {
                confirm_password.setCustomValidity("");
            }
        }
    </script>
</head>

<body>
    <div class="signup_header">
        <a href="/" target="_blank">
            <img src="{% static 'Spotify_Primary_Logo_RGB_Green.png' %}" alt="Lushlyrics Logo" style="height: 60px;" />
        </a>
    </div>

    <div class="signup_body">
        <form class="login_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <span class='label signup-title center-align'>Sign up for free to start listening.</span>

            <label for="id_username" class="label">What's your name?</label>
            {{ form.username|add_class:"form_input" }}

            <label for="id_email" class="label">What's your email?</label>
            {{ form.email|add_class:"form_input" }}

            <label for="id_password1" class="label">Create a password</label>
            {{ form.password1|add_class:"form_input" }}

            <label for="id_password2" class="label">Confirm your password</label>
            <input type="password" class="form_input" id="id_password2" name="password2"
                   oninput="checkPassword(this)" placeholder="Re-type your password" required />

            {% if form.errors %}
            <div style="color:#f79862;">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
        </form>
    </div>
</body>

</html>
